.header {
    display: flex;
    background-color: #b8b7b7;
    text-align: center;
}

.pagesChoice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vw;
    margin-left: 23%;
    margin-right: auto;
    width: 40%;
    padding: 0;
    list-style: none
}

li {
    font-size: 2vw;
    width: 11vw;
}

li:hover {
    cursor: pointer;
}

.chosen {
    background-color: #797979;
    background-repeat: no-repeat;
    border-radius: 1vw;
}

.notchosen {
    background-repeat: no-repeat;
    border-radius: 1vw;
    transition: background-color 0.2s ease-in-out;
}

.notchosen:hover {
    background-color: #727272;
}

a {
    color: black;
    text-decoration: none;
}