body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Стилі для заголовка h1 */
h1 {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
}

/* Стилі для контейнера .header */
.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Стилі для кнопок сортування та пошуку */
#sort-by-price,
#sort-by-brand,
#search-input,
#search-button,
#cancel-search-button {
    padding: 8px 12px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#sort-by-price,
#sort-by-brand {
    background-color: #007BFF;
    color: #fff;
}

#search-input {
    flex: 1;
}

#search-button {
    background-color: #28A745;
    color: #fff;
}

#cancel-search-button {
    background-color: #DC3545;
    color: #fff;
}

/* Стилі для контейнера #alcohol-list */
#alcohol-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

/* Стилі для елементів алкоголю .alcohol-item */
.alcohol-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.alcohol-item img {
    width: 90px;
    height: 250px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.alcohol-item p {
    margin: 5px 0;
    font-size: 16px;
}

/* Стилі для загальної ціни */
#total-price {
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}

#total-amount {
    color: #28A745;
    font-size: 24px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

/* Стилі для текстового поля редагування опису */
#edited-description {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}